

.menu{
    background: url(../../pikachu.jpg);
    background-size: contain;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    height: 390px;
 } 
 
.menu-secundario{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.title{
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-left: 65px;

}
.boton-home{
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 0 20px;
   
}
.boton-home.type1 {
    color: #566473;
  }
  .boton-home.type1.type1::after, .boton-home.type1.type1::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }
  .boton-home.type1.type1::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #000000;
    border-right-color: #566473;
  }
  .boton-home.type1.type1::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #566473;
    border-left-color: #566473;
  }
  .boton-home.type1.type1:hover:after, .boton-home.type1.type1:hover:before {
    width: 100%;
    height: 100%;
  }



.boton-home{
    cursor: pointer;
}

.img-pokemon{
   width: 95%;
   display: grid;
   grid-template-columns:  repeat(3, 1fr);
   row-gap: 10px; 
   justify-content: end;
 }

 .cont-img-pokemon{
     margin-left: 150px;
 }

 
 
.container{
    display: flex;
}

.container-menu{
    display: flex;
    flex-direction: row;
    font-family: 'Abel', sans-serif; 
    column-gap: 40px;
    margin-left: 20px;
}

.container-menu label{
    font-size: 15px;
    color: rgb(0, 0, 0);

}

.select-layout{
    font-size:15px;
}

.select-layout, select{
   width: 58%;
   height: 59%;
}

.footer{
    font-family: 'Pokemon hollow';
    color: rgb(0, 0, 0);
    margin-left: 90px;
    font-size: 30px;
}

.buscador-principal{
    margin-bottom: 40px;
}

.not-find h3{
    width: 50%;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-left: 140px;
    background-color: rgba(250, 250, 248, 0.281);
    border: black solid 3px;
}