.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.menu-secundario{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.titulo{
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.boton{
    padding: 5px;
    background: rgb(36,36,0);
    background: linear-gradient(90deg, rgba(36, 36, 0, 0.562) 0%, rgba(251, 235, 9, 0.534) 50%, rgba(255, 0, 0, 0.507) 76%);
    border: none;
    border-radius: 10px;
    font-family: 'Pokemon Solid';
    font-size: 15px;
}

.boton:hover{
    background-color: rgba(255, 238, 0, 0.61); 
}

button{ cursor: pointer }

option{
    background: rgb(36,36,0);
    background: linear-gradient(90deg, rgba(36, 36, 0, 0.562) 0%, rgba(251, 235, 9, 0.534) 50%, rgba(255, 0, 0, 0.507) 76%);
    
}

select:hover{
    background-color: rgba(255, 238, 0, 0.61); 
}

select{ cursor: pointer }

.img-pokemon{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    margin: 0 auto;
 }
.container{
    display: flex;
}

.container-menu{
    display: flex;
    flex-direction: row;
    font-family: 'pokemon solid';
    column-gap: 20px;
    margin-left: 20px;
}

.container-menu label{
    font-size: 18px;
    color: rgb(250, 250, 249);
}

.footer{
    font-family: 'Pokemon hollow';
    color: white;
    margin-left: 90px;
}

.buscador-principal{
    margin-bottom: 40px;
}

.not-find h3{
    width: 50%;
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 140px;
    background-color: rgba(250, 250, 248, 0.281);
    border: black solid 3px;
}