.paged-principal{
    display: flex;
    column-gap: 35px;
    justify-content: center;
    
}
li{
    list-style-type: none;
}
.a-paged a{
    color: white ;
    border: white solid 3px;
    padding: 2px 25px;
    background: rgb(36,36,0);
    background: linear-gradient(90deg, rgba(36, 36, 0, 0.562) 0%, rgba(251, 235, 9, 0.534) 50%, rgba(255, 0, 0, 0.507) 76%);
    border: none;
    border-radius: 10px;
    font-family: 'Pokemon Solid';
    font-size: 10px;

}

.buttons-pag:hover{
    background-color: rgba(255, 238, 0, 0.61); 
}

a{ cursor: pointer }
