.paged-principal{
    display: flex;
    column-gap: 1px;
    justify-content: center;
    margin-top: 0;
    
}
li{
    list-style-type: none;
}
.a-paged a{
    font-family: 'Abel', sans-serif; 
    padding: 15px;
    font-size: 15px;
    background-color: rgba(82, 81, 77, 0.596);
    margin-left: 3px ; 
    border: none;
    border-radius: 10px;
    font-weight: bold;
}



a{ cursor: pointer }
