.principal-card{
    width: 200px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: black solid 0.2px;
    justify-content: space-between;
    
}



.principal-card, h3, p{
    font-family: 'Abel', sans-serif;
}

img {
    height: 45%;
    width: 60%;
    margin-top: 20px;
    margin-left: 45px;
}

.card-secundari:hover  {-webkit-transform:scale(1.5);transform:scale(1.5);}
.card-secundari {overflow:hidden;}

.types{
    display: flex;
    column-gap: 10px;
    margin: 0 auto;
   
}

.card-secundari {
    display: flex;
    justify-content: start;
    align-items: flex-start
}

.card-secundari h3{
    margin-left:30px;
}
.detail{
    display: flex;
    justify-content: center;
}

.detail h3{
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

